


.outer-box{
  background : aqua;
  height:80px;
  /*Padding*/
  padding-left:100px;
  padding-right:30px;
  padding-top:30px;
  padding-bottom:30px;
  border: 10px solid blue;
  margin: 10px;
  width: 100px;

}

.inner-box{
   background :  aquamarine;
   height:60px;
   padding-left: 100px;
   padding-right:50px ;
   padding-top: 100px ;
   padding-bottom: 100px;
   width:50px;
   border:10px solid red;
   margin:10px 10px 0 10px;
}